<footer id="footter" class="container-fluid column">
    <a id="logo" class="navbar-brand" href="#">
        <img src="./assets/use&go-blanco.png" width="105" height="30" alt="Logo Use&Go">
    </a>
   <div class="row">
    <section>
        <h1>PROYECTO</h1>
        <ul>
          <li>Acerca del proyecto</li>
          <li>Tecnologías</li>
          <li>Quienes lo hicimos</li>
        </ul>
    </section>
    <section class="section1">
        <h1>SERVICIOS</h1>
        <ul>
          <li>Arrienda un auto</li>
          <li>Gana dinero con nostros</li>
        </ul>
    </section>
    <section class="section1">
        <h1>ENLACE ÚTILES</h1>
        <ul>
          <li>Ayuda</li>
          <li>Envíar un correo</li>
        </ul>
    </section>
   </div>
   <p style="margin-left: 5px;margin-top: 10px;">Hecho con ❤️ por Juan Calao, Gustavo Guerrero, Daniel Porto</p>
</footer>
