<section class="vehiculos">
    <div class="container-fluid row">
        <div class="wrap column">
            <h1>Escoge el vehiculo que mas se adapte a tus necesidades</h1>
            <p style="margin-top: 20px;">Usando Use&Go puedes alquilar el tipo de vehiculo que quieras. Cumplimos con todos los estandares de seguridad, para proporcionarte un viaje placentero en tu proxima aventura, siendo tu el que la dirijas.</p>
            <button id="buscar" type="button" class="btn btn-primary" onclick="window.location.href='https://use-and-go.netlify.app/'">Alquilar ya!</button>
        </div>
        <div id="prueba">
            <div  id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-interval="10000">
                    <img src="../../assets/mediana-exterior.345637.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-interval="2000">
                    <img src="../../assets/prueba2.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-interval="2000">
                    <img src="../../assets/motos.jpg" class="d-block w-100 " alt="...">
                    </div>
                    <div class="carousel-item" data-interval="2000">
                        <img src="../../assets/bicicleta.jpg" class="d-block w-100 " alt="...">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>
<section style="color: white; margin: 0px;" id="new" class="container-fluid row">
    <div class="div1 column ml-4 mr-5">
        <h2 style="padding-top: 25px;">85%</h2>
        <p style="color: white;width: 300px;text-align: center;">De nuestros usuarios cuentan con una calificación positiva hacia esta aplicación</p>
    </div>
    <div class="div2 column ml-5 mr-5">
        <h2>+40</h2>
        <p style="width: 300px;color: white;text-align: center;">Tipos de vehiculos</p>
    </div>
    <div class="div2 column">
        <h2>+6</h2>
        <p style="width: 300px;color: white;text-align: center;">Ciudades disponibles</p>
    </div>
</section>