    <section class="vehiculos">
        <div class="container">
            <div class="row" id="title">Lorem Ipsum Valor Dolor et Tile uhfert zkorwed</div>
            <div class="row">
                <div class="col"><img src="../../assets/Car 1.png" id="camioneta" class="img-fluid" alt="Responsive image"></div>
                <div class="col"><img src="../../assets/cycleblack 1.png" id="bici" class="img-fluid" alt="Responsive image"></div>
                <div class="col"><img src="../../assets/Motocycle 1.png" id="moto" class="img-fluid" alt="Responsive image"></div>
            </div>
            <div class="row"><p id="desc" class="container-fluid">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p></div>
            <div class="row"><p id="quierouno" class="container"><button type="button" class="btn btn-primary">Quiero uno</button></p></div>
        </div>
    </section>
    <div class="row" id="cont-nums">
        <div class="container">
            <div class="col" id="numeros">+1.2m</div>
            <div class="col" id="numeros">+30</div>
            <div class="col" id="numeros">+30</div>
        </div>
    </div>