<section class="caracteristicas">
  <div class="container">
    <div class="wrapper">
      <div class="grid-item">
        <img class="section-images" src="../../assets/car2.png" alt="">

      </div>
      <div class="grid-item">
        <article class="description">
          <h3 class="description-title">
            Lorem, ipsum dolor.
          </h3>
          <p class="description-details">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis, iure. Optio
            quaerat eaque, rerum omnis
            aperiam obcaecati at officia accusamus, temporibus aspernatur corporis sed mollitia et, quos non blanditiis
            possimus!</p>
            <a href="https://jfcalaop.netlify.app/" target="_blank">Lorem, ipsum.</a>
        </article>

      </div>
      <div class="grid-item">
        <article class="description">
          <h3 class="description-title">
            Lorem, ipsum dolor.
          </h3>
          <p class="description-details">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis, iure. Optio
            quaerat eaque, rerum omnis
            aperiam obcaecati at officia accusamus, temporibus aspernatur corporis sed mollitia et, quos non blanditiis
            possimus!</p>
            <a href="https://jfcalaop.netlify.app/" target="_blank">Lorem, ipsum.</a>
        </article>

      </div>
      <div class="grid-item">
        <img class="section-images" src="../../assets/bike.png" alt="">

      </div>
    </div>
    <div class="images">
      <figure class="calao-images"></figure>
      <figure class="calao-images"></figure>
      <figure class="calao-images"></figure>
    </div>

  </div>
</section>