<section class="caracteristicas">
  <div class="container">
    <div class="wrapper">
      <div class="grid-item">
        <img class="section-images" src="../../assets/Mapa.jpg" alt="">

      </div>
      <div class="grid-item">
        <article class="description">
          <h3 class="description-title">
            Encuentra el mas cercano a tu posición actual
          </h3>
          <p class="description-details">Todos los vehiculos están ubicados en el mapa, así podras encontrar el vehiculo
            que buscas que mas cerca se encuentra a tu posición actual</p>
          <a href="" target="_blank">Saber mas</a>
        </article>

      </div>
      <div class="grid-item">
        <article class="description">
          <h3 class="description-title">
            La seguridad está de tu lado
          </h3>
          <p class="description-details">Todos los vehiculos estan regulados por la normatividad colombiana y son
            verificados por una de nuestras personas antes de estar disponibles en la plataforma</p>
          <a href="" target="_blank">saber mas</a>
        </article>

      </div>
      <div class="grid-item">
        <img class="section-images" src="../../assets/list.jpg" height="325">
      </div>
    </div>


    <div class="images">
      <figure class="calao-images">
        <img src="../../assets/pago_seguro.svg" height="150px" title="Pago seguro">
        <figcaption><h3>Pago seguro</h3></figcaption>
      </figure>
    <div style="width: 20px;"></div>
      <figure class="calao-images">
        <img src="../../assets/precio_justo.svg" height="150px">
        <figcaption><h3>Precios justos</h3></figcaption>
      </figure>
    </div>
  </div>
</section>