<section class="como-te-bene">
    <div class="container">
        <div class="row" id="title">¿Como quieres empezar?</div>
        <div class="row">
            <div class="col" id="arriendalo">
                <p class="tipo-cliente" id="tipo-cliente-izq">Gana dinero con el vehiculo que tienes en casa</p>
                <img src="../../assets/alquilalo.svg" id="carro-sell" class="img-fluid" alt="Responsive image">
                <p><button class="bu-tipo-cli" id="bu-tipo-cli-izq">Gana dinero ahora &rarr;</button></p>
            </div>
            <div class="col" style="width: 120px;"></div>
            <div class="col" id="consiguelo">
                <p class="tipo-cliente" id="tipo-cliente-der">Ve donde quieras alquilando tu vehiculo favorito al precio justo</p>
                <img src="../../assets/rent.svg" id="carro-rent" class="img-fluid" alt="Responsive image">
                <p><button class="bu-tipo-cli" id="bu-tipo-cli-der">Crea tu cuenta &rarr;</button></p>
            </div>
        </div>
    </div>
</section>
